.cart-badge {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 22px;
    top: 12px;
    text-align: center;
    line-height: 16px;
  }