.topNav {
  
  justify-content: space-between;
  padding: 0 12px;
}

.titleNav { 
  font-size: 20px;
  font-weight: bold;
  align-items: center;
} 

.links {
  display: flex;
  list-style-type: none;
}

.link {
  justify-content: space-between;
  margin:10px;
  padding: auto;
  display: flex;

}

.navBar {
  background-color: rgb(243, 241, 103);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

p {
  margin:15px;
   display: flex;
   justify-content: space-between;
  
}